<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name ="NpvDB" connectionString="Server=.;Database=VisualRisk;Trusted_Connection=True;" />-->
    <add name="connNpv" connectionString="Data Source=4035-60040;Initial Catalog=VisualRisk;Integrated Security=True" providerName="" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>